<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LEO</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>

    <section class="vh-100" style="background-color: #6a696c;">
        <div class="container h-100" style="padding-top: 0;">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border:none;border-radius: 1rem;">
                <div class="row g-0">
                  <div style='box-shadow: rgb(0 0 0 / 20%) 0px 17px 29px 0px;'class="col-md-6 col-lg-5 d-none d-md-block">
                    <!-- https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp -->
                    
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp "
                      alt="login form" class="img-fluid" style="border:none;border-radius: 1rem 0 0 1rem;height: 100%;" />
                  </div>
                  <div style='box-shadow: rgb(0 0 0 / 20%) 0px 17px 29px 0px;' class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form action="/login" method="post">
      
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <!-- <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> -->
                          
                          <img style='height:45px;padding-right: 2%;' src="https://ih1.redbubble.net/image.4762757359.2788/st,small,507x507-pad,600x600,f8f8f8.u1.jpg" alt="">
                          <span class="h1 fw-bold mb-0">LEO</span>
                        </div>
      
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
      
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example17">Username</label>
                          <input type="text" id="form2Example17" name="username" class="form-control form-control-lg" />
                          
                        </div>
      
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example27">Password</label>
                          <input type="password" name="password" id="form2Example27" class="form-control form-control-lg" />
                          
                        </div>

                       
      
                        <div style="display:grid;justify-content: center;" class="pt-1 mb-4">
                          <p style="color:#ff6219"><%= error %></p>
                          <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                        </div>

                        <div class="text-center">
                          <p>OR</p>
          
                          <div class="row" style="display: inline-flex;">
                            <div class="col-md-12">
                              <a class="btn btn-outline-dark" href="/auth/google" role="button" style="text-transform:none">
                                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                Sign with Google
                              </a>
                            </div>
                          </div>
                        </div>

                  
                        <!-- <p class="mb-3 pb-lg-2" style="color: #393f81;margin-top: 2%;">Don't have an account? <a href="/register"
                            style="color: #393f81;">Register here</a></p>
                        <a href="#!" class="small text-muted">Terms of use.</a>
                        <a href="#!" class="small text-muted">Privacy policy</a> -->
                        <p  style="color: #393f81;padding-top: 5%;text-align: center;">Don't have an account? <a href="/register"
                          style="color: #d05fce;text-decoration: none;">Register here</a></p>
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  

</body>

</html>